<div class="main-image">
  <div class="container">
    <h1><span>NOSOTROS</span></h1>
    <span class="cen">CONOCENOS</span>
  </div>
</div>

<div class="contenedor">

  <h1 class="titulo">HISTORIA</h1>

  <p class="texto_">"Seguros México, una compañía con más de cuatro décadas de experiencia en el mercado de seguros, ha
    estado
    protegiendo a familias y negocios en todo el país desde su fundación. Su historia es una de compromiso constante con
    la seguridad y la tranquilidad de sus clientes.

    Todo comenzó en 1978, cuando un grupo de visionarios emprendedores decidió establecer una compañía de seguros que
    marcara la diferencia. Con determinación y un firme enfoque en la satisfacción del cliente, Seguros México
    rápidamente se ganó la confianza de la comunidad aseguradora.

  </p>

  <p class="texto_"> A lo largo de los años, la compañía ha crecido y evolucionado para adaptarse a las cambiantes
    necesidades de sus
    clientes. Desde seguros de vida que protegen a generaciones enteras hasta pólizas de automóvil que brindan seguridad
    en cada viaje, Seguros México ha estado a la vanguardia de la industria.

  </p>

  <p class="texto_">
    Pero lo que realmente distingue a Seguros México es su compromiso con la excelencia en el servicio. Cada día, un
    equipo de profesionales dedicados trabaja incansablemente para brindar soluciones personalizadas y asistencia
    inmediata a los asegurados en sus momentos de necesidad.
  </p>


  <p class="texto_">

    Hoy, Seguros México es una parte integral de la vida de miles de personas y empresas en todo el país. Su legado se
    basa en una sólida reputación de confianza y compromiso con la seguridad. La historia de Seguros México es la
    historia de proteger lo que más importa, y su futuro es un continuo compromiso con la protección y la paz mental de
    todos sus clientes."</p>


</div>