<div class="main-image">
  <div class="container">
    <h1><span>Servicios</span></h1>
    <span class="cen">Servicios disponibles</span>
  </div>
</div>

<div class="CardServices">

  <section>
    <div class="row">
      <p class="titulo_">Nuestros servicios</p>
    </div>
    <div class="row">
      <div class="column">
        <div class="cardInfo">
          <div class="icon-wrapper">
            <mat-icon>phone_in_talk</mat-icon>
          </div>
          <h3>Atención en linea</h3>
          <p>
            Atención para ponerte en contacto con nosotros en cualquier momento que lo necesites.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="cardInfo">
          <div class="icon-wrapper">
            <mat-icon>groups</mat-icon>
          </div>
          <h3>Clientes</h3>
          <p>
            Diseñado para brindar a los clientes existentes acceso fácil y rápido a información relevante.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="cardInfo">
          <div class="icon-wrapper">

            <mat-icon>attach_money</mat-icon>
          </div>
          <h3>Pagos</h3>
          <p>
            Los usuarios pueden pagar sus primas de seguro, renovar pólizas, realizar pagos de deducibles.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="cardInfo">
          <div class="icon-wrapper">
            <mat-icon>warning</mat-icon>
          </div>
          <h3>Accidentes</h3>
          <p>
            Conoce cómo hacer uso de la cobertura de tus seguros en caso de un accidente.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="cardInfo">
          <div class="icon-wrapper">
            <mat-icon>description</mat-icon>
          </div>
          <h3>Condiciones generales</h3>
          <p>
            Proporciona información detallada sobre las políticas, términos y condiciones.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="cardInfo">
          <div class="icon-wrapper">
            <mat-icon>request_quote</mat-icon>
          </div>
          <h3>Cotización en línea</h3>
          <p>
            Calcula una cotización personalizada que muestra el costo aproximado de la cobertura de seguro deseada.
          </p>
        </div>
      </div>
    </div>
  </section>


</div>