<div class="main-image">
  <div class="container">
    <h1><span>Seguros MX</span></h1>
    <span class="cen">Confía en nosotros para asegurar tu tranquilidad y seguridad.</span>
    <a class="button" href="seguros/seguro" routerLink="/seguros/seguro">Ver Seguros</a>
  </div>
</div>


<div>
  <p class="titulo_">En Seguros México, nuestra prioridad es proteger lo que más valoras</p>
  <p class="subtitulo_">Tenemos una amplia oferta de protección</p>
</div>
<div class="cards">
  <div class="card">
    <a href="/seguros/seguro-vida" routerLink="/seguros/seguro-vida">
      <div class="face front">
        <img src="../../../assets/images/seguro-vida.jpg" alt="">
        <h3>Seguro de vida </h3>
      </div>
      <div class="face back">
        <h3 class="card_white">Seguro de vida</h3>
        <p class="card_white">Protege a tus seres queridos hoy mismo con nuestro seguro de vida y asegura un mañana más
          seguro para todos.
        </p>
        <div class="link">Ver seguro</div>
      </div>
    </a>
  </div>

  <div class="card">
    <a href="/seguros/seguro-auto" routerLink="/seguros/seguro-auto">
      <div class="face front">
        <img src="../../../assets/images/seguro-auto.jpg" alt="">
        <h3>Seguro de auto </h3>
      </div>
      <div class="face back">
        <h3 class="card_white">Seguro de auto</h3>
        <p class="card_white">Conduce con tranquilidad: nuestro seguro de auto te respalda en cada viaje. ¡Obtén tu
          protección hoy mismo!</p>
        <div class="link">Ver seguro</div>
      </div>
    </a>

  </div>

  <div class="card">
    <a href="/seguros/seguro-medico" routerLink="/seguros/seguro-medico">
      <div class="face front">
        <img src="../../../assets/images/seguro-medico.jpg" alt="">
        <h3>Seguro médico </h3>
      </div>
      <div class="face back">
        <h3 class="card_white">Seguro médico</h3>
        <p class="card_white">Invierte en tu salud y bienestar con nuestro seguro médico. Tu salud es lo más importante,
          cuídala con
          nosotros.</p>
        <div class="link">Ver seguro</div>
      </div>
    </a>

  </div>
</div>


<div>
  <p class="titulo_">Seguros México, lo mejor de México</p>
  <p class="subtitulo_">Tenemos una amplia oferta de protección</p>
</div>
<div class="contenedor1">
  <div class="contenedor">
    <img
      src="https://img.freepik.com/foto-gratis/agente-bienes-raices-traje-negocios-dando-llaves-joven-pareja-despues-firmar-documento-pareja-convirtiendose-propietarios_482257-29435.jpg?w=1380&t=st=1696806803~exp=1696807403~hmac=5824019cf1c039c2552666bcf4577202dd94dd18c72d4ae6141a3e55fc5c72fd"
      alt="Imagen de ejemplo" class="imagen">

    <p class="texto">Si buscas tranquilidad y protección para lo que más importa, te recomendamos nuestros seguros. En
      Seguros México, brindamos soluciones personalizadas para tus necesidades, respaldadas por años de experiencia y un
      compromiso inquebrantable con la seguridad de nuestros clientes. Confía en nosotros para salvaguardar tu bienestar
      y
      patrimonio. ¡Descubre la paz mental que mereces con nuestros seguros confiables!</p>
  </div>
</div>


<div class="formulario">
  <div>
    <h3 class="form-header">Contactanos para recibir información</h3>
  </div>
  <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
    <div class="form-body">
      <mat-form-field class="full-width justifier">
        <mat-label>Nombre Completo</mat-label>
        <input matInput formControlName="nombre" required>
        <mat-error *ngIf="formReg.get('nombre').hasError('required')">El nombre es obligatorio.</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Telefono</mat-label>
        <span matPrefix>+52 &nbsp;</span>
        <input type="tel" matInput placeholder="555-555-1234" maxlength="10" formControlName="telefono" aria-label="Teléfono" required>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="formReg.get('telefono').hasError('required')">El teléfono es obligatorio.</mat-error>
        <mat-error *ngIf="formReg.get('telefono').hasError('pattern')">El formato del teléfono no es
          válido.</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width justifier">
        <input matInput placeholder="Email" formControlName="email" aria-label="Email" required>
        <mat-error *ngIf="formReg.get('email').hasError('required')">El correo electrónico es
          obligatorio.</mat-error>
        <mat-error *ngIf="formReg.get('email').hasError('email')">El formato del correo electrónico no es
          válido.</mat-error>
      </mat-form-field>
    </div>

    <div class="btn_reg">
      <button mat-raised-button color="primary" class="btn custom-btn" type="submit">
        <mat-icon>add</mat-icon> Registrarse
      </button>
    </div>
  </form>
</div>


<div class="CardServices">

  <section>
    <div class="row">
      <p class="titulo_">Nuestros servicios</p>
    </div>
    <div class="row">
      <div class="column" (click)="servicios()">
        <div class="cardInfo">
          <div class="icon-wrapper">
            <mat-icon>phone_in_talk</mat-icon>
          </div>
          <h3>Atención en linea</h3>
          <p>
            Atención para ponerte en contacto con nosotros en cualquier momento que lo necesites.
          </p>
        </div>
      </div>
      <div class="column" (click)="servicios()">
        <div class="cardInfo">
          <div class="icon-wrapper">
            <mat-icon>groups</mat-icon>
          </div>
          <h3>Clientes</h3>
          <p>
            Diseñado para brindar a los clientes existentes acceso fácil y rápido a información relevante.
          </p>
        </div>
      </div>
      <div class="column" (click)="servicios()">
        <div class="cardInfo">
          <div class="icon-wrapper">

            <mat-icon>attach_money</mat-icon>
          </div>
          <h3>Pagos</h3>
          <p>
            Los usuarios pueden pagar sus primas de seguro, renovar pólizas, realizar pagos de deducibles.
          </p>
        </div>
      </div>
      <div class="column" (click)="servicios()">
        <div class="cardInfo">
          <div class="icon-wrapper">
            <mat-icon>warning</mat-icon>
          </div>
          <h3>Accidentes</h3>
          <p>
            Conoce cómo hacer uso de la cobertura de tus seguros en caso de un accidente.
          </p>
        </div>
      </div>
      <div class="column" (click)="servicios()">
        <div class="cardInfo">
          <div class="icon-wrapper">
            <mat-icon>description</mat-icon>
          </div>
          <h3>Condiciones generales</h3>
          <p>
            Proporciona información detallada sobre las políticas, términos y condiciones.
          </p>
        </div>
      </div>
      <div class="column" (click)="servicios()">
        <div class="cardInfo">
          <div class="icon-wrapper">
            <mat-icon>request_quote</mat-icon>
          </div>
          <h3>Cotización en línea</h3>
          <p>
            Calcula una cotización personalizada que muestra el costo aproximado de la cobertura de seguro deseada.
          </p>
        </div>
      </div>
    </div>
  </section>


</div>


<div class="separador"></div>
