<div class="main-image">
  <div class="container">
    <h1><span>Vida</span></h1>
    <span class="cen">Seguros de vida</span>
    <!--a class="button" href="#">Ver Seguros</a-->
  </div>
</div>

<div>
  <p class="titulo_">Coberturas principales</p>
  <p class="subtitulo_">Tu familia merece lo mejor, y nosotros estamos aquí para ofrecerlo</p>

  <div class="container_border">
    <div class="contenedor_first">
      <div class="centrar_medio">
        <p class="subtitulo_">Cobertura VIDA+</p>
        <img src="../../../../assets/images/family-5.svg" alt="seguro medico">

        <p class="texto">Nuestra póliza básica de seguro te brinda protección esencial para situaciones comunes,
          proporcionando tranquilidad en momentos imprevistos.</p>
      </div>


      <div class="centrar_medio">
        <p class="subtitulo_">Cobertura VIDAEXTRA+</p>
        <img src="../../../../assets/images/family-6.svg" alt="seguro vida">
        <p class="texto">Con nuestra póliza premium, obtienes una protección completa y amplia, que abarca desde
          incidentes cotidianos hasta situaciones excepcionales, garantizando una seguridad total y atención
          excepcional.
        </p>

        <!--a mat-fab extended routerLink="/seguros/seguro-medico" color="primary">
        <mat-icon>medication</mat-icon>
        Ver Seguro
      </a-->
      </div>
    </div>
  </div>
</div>

<div>
  <p class="titulo_">Cobertura</p>

  <div class="contenedor_first">
    <img
      src="https://img.freepik.com/foto-gratis/familia-moviendose-usando-cajas_1157-35481.jpg?w=1060&t=st=1696828139~exp=1696828739~hmac=45c1e02e07cca4bc0729addac38a2b222ed3ab6d9e56100a5f9c93563a2060a7"
      alt="seguro medico" class="imagen">

    <div class="centrar">
      <p class="titulo_">Cobertura VIDA+</p>
      <p>¿Buscas protección simple y esencial? Nuestro paquete básico de seguro de vida es perfecto para ti. Obtén la
        tranquilidad que necesitas a un precio accesible. ¡Contrátalo hoy y asegura el futuro de tus seres queridos con
        nosotros!</p>
      <button mat-fab extended color="primary">
        <mat-icon>favorite</mat-icon>
        Contratar
      </button>
    </div>
  </div>

  <div class="contenedor_second">
    <div class="centrar">

      <p class="titulo_">Paquete Cobertura VIDAEXTRA+</p>
      <p class="texto">¿Deseas una protección completa y opciones adicionales? Nuestro paquete premium de seguro de vida
        te ofrece beneficios excepcionales y mayor seguridad. Asegura tu legado y cuida a tus seres queridos como se
        merecen. ¡Elige el paquete premium y vive con total confianza!</p>

      <button mat-fab extended color="primary">
        <mat-icon>favorite</mat-icon>
        Contratar
      </button>
    </div>
    <img src="../../../../assets/images/family-c.svg" alt="seguro auto" class="imagen_right">

  </div>

</div>