<div class="main-image">
  <div class="container">
    <h1><span>Seguros Mx </span></h1>
    <span class="cen">Seguros de auto</span>
    <!--a class="button" href="#">Ver Seguros</a-->
  </div>
</div>

<div>
  <p class="titulo_">Coberturas principales</p>
  <p class="subtitulo_">Tu familia merece lo mejor, y nosotros estamos aquí para ofrecerlo</p>

  <div class="container_border">
    <div class="contenedor_first">
      <div class="centrar_medio">
        <p class="subtitulo_">Cobertura AUTO+</p>
        <img src="../../../../assets/images/hockey-e.svg" alt="seguro medico">

        <p class="texto">Obtén protección esencial para tu vehículo a un precio asequible. ¡Asegura tu auto hoy!</p>
      </div>


      <div class="centrar_medio">
        <p class="subtitulo_">Cobertura AUTOVIP+</p>
        <img src="../../../../assets/images/adventure-d.svg" alt="seguro vida">
        <p class="texto">Disfruta de la máxima protección y beneficios exclusivos para tu vehículo. ¡Opta por el seguro
          premium y viaja con total seguridad!
        </p>

        <!--a mat-fab extended routerLink="/seguros/seguro-medico" color="primary">
        <mat-icon>medication</mat-icon>
        Ver Seguro
      </a-->
      </div>
    </div>
  </div>
</div>

<div>
  <p class="titulo_">Cobertura</p>

  <div class="contenedor_first">
    <img
      src="https://img.freepik.com/foto-gratis/familia-moviendose-usando-cajas_1157-35481.jpg?w=1060&t=st=1696828139~exp=1696828739~hmac=45c1e02e07cca4bc0729addac38a2b222ed3ab6d9e56100a5f9c93563a2060a7"
      alt="seguro medico" class="imagen">

    <div class="centrar">
      <p class="titulo_">Cobertura AUTO+</p>
      <p> Si buscas una protección esencial para tu vehículo a un precio asequible, nuestro seguro de auto básico es la
        opción ideal. Con nosotros, obtendrás la tranquilidad que necesitas en la carretera sin comprometer tu
        presupuesto. ¡Asegura tu vehículo hoy y viaja con confianza!</p>
      <button mat-fab extended color="primary">
        <mat-icon>directions_car</mat-icon>
        Contratar
      </button>
    </div>
  </div>

  <div class="contenedor_second">
    <div class="centrar">

      <p class="titulo_">Paquete Cobertura AUTOVIP+</p>
      <p class="texto">¿Deseas la máxima protección y beneficios adicionales para tu vehículo? Nuestro seguro de auto
        premium te ofrece una cobertura completa y opciones exclusivas. Conducir con nosotros significa seguridad total
        y asistencia en cada viaje</p>

      <button mat-fab extended color="primary">
        <mat-icon>directions_car</mat-icon>
        Contratar
      </button>
    </div>
    <img src="../../../assets/images/hockey-4.svg" alt="seguro auto" class="imagen_right">

  </div>

</div>