<div class="main-image">
  <div class="container">
    <h1><span>Seguros</span></h1>
    <span class="cen">Seguros disponibles</span>
  </div>
</div>


<div>
  <p class="titulo_">En Seguros México, nuestra prioridad es proteger lo que más valoras</p>
  <p class="subtitulo_">Tenemos una amplia oferta de protección</p>
</div>
<div class="contenedor1">
  <div class="contenedor">
    <img
      src="https://img.freepik.com/foto-gratis/agente-bienes-raices-traje-negocios-dando-llaves-joven-pareja-despues-firmar-documento-pareja-convirtiendose-propietarios_482257-29435.jpg?w=1380&t=st=1696806803~exp=1696807403~hmac=5824019cf1c039c2552666bcf4577202dd94dd18c72d4ae6141a3e55fc5c72fd"
      alt="Imagen de ejemplo" class="imagen">

    <p class="texto">Si buscas tranquilidad y protección para lo que más importa, te recomendamos nuestros seguros. En
      Seguros México, brindamos soluciones personalizadas para tus necesidades, respaldadas por años de experiencia y un
      compromiso inquebrantable con la seguridad de nuestros clientes. Confía en nosotros para salvaguardar tu bienestar
      y
      patrimonio. ¡Descubre la paz mental que mereces con nuestros seguros confiables!</p>
  </div>
</div>

<div class="c1">
  <p class="titulo_">Seguro de vida</p>

  <div class="contenedor_first">
    <img src="../../../assets/images/family-c.svg" alt="seguro vida" class="imagen">

    <div class="centrar">
      <p class="texto">El seguro de vida es una inversión en la tranquilidad de tu familia y seres queridos. Te
        recomendamos encarecidamente considerar nuestro seguro de vida en Seguros México. Ofrecemos una protección
        sólida
        que brinda seguridad financiera a tus seres queridos en momentos difíciles. </p>

      <a mat-fab extended routerLink="/seguros/seguro-vida" color="primary">
        <mat-icon>favorite</mat-icon>
        Ver Seguro
      </a>
    </div>
  </div>
</div>


<div>
  <p class="titulo_">Seguro de auto</p>

  <div class="contenedor_second">
    <div class="centrar">
      <p class="texto">La seguridad en la carretera es primordial, y nuestro seguro de auto está diseñado para
        protegerte en cada viaje. Te recomendamos explorar nuestra póliza de seguro de auto en Seguros México. Ofrecemos
        cobertura integral, asistencia en carretera y tranquilidad en caso de accidentes. Con nosotros, puedes disfrutar
        de la libertad de la carretera sabiendo que estamos a tu lado. </p>

      <a mat-fab extended routerLink="/seguros/seguro-auto" color="primary">
        <mat-icon>directions_car</mat-icon>
        Ver Seguro
      </a>
    </div>
    <img src="../../../assets/images/hockey-4.svg" alt="seguro auto" class="imagen_right">

  </div>

</div>

<div>
  <p class="titulo_">Seguro médico</p>

  <div class="contenedor_first">
    <img src="../../../assets/images/doctor-5.svg" alt="seguro medico" class="imagen">

    <div class="centrar">
      <p class="texto">Tu salud y bienestar son invaluables, y un seguro médico es una inversión en ti mismo. Te
        alentamos a considerar nuestro seguro médico en Seguros México. Ofrecemos una amplia cobertura de salud, acceso
        a una red de médicos y hospitales de alta calidad, y tranquilidad en momentos de necesidad. </p>

      <a mat-fab extended routerLink="/seguros/seguro-medico" color="primary">
        <mat-icon>medication</mat-icon>
        Ver Seguro
      </a>
    </div>
  </div>
</div>