<div class="main-image">
  <div class="container">
    <h1><span>Médico</span></h1>
    <span class="cen">Seguros Medicos</span>
    <!--a class="button" href="#">Ver Seguros</a-->
  </div>
</div>

<div>
  <p class="titulo_">Coberturas principales</p>
  <p class="subtitulo_">Tu familia merece lo mejor, y nosotros estamos aquí para ofrecerlo</p>

  <div class="container_border">
    <div class="contenedor_first">
      <div class="centrar_medio">
        <p class="subtitulo_">Cobertura MEDI+</p>
        <img src="../../../../assets/images/health-d.svg" alt="seguro medico">

        <p class="texto">Protege tu salud con nuestro seguro médico básico asequible.</p>
      </div>


      <div class="centrar_medio">
        <p class="subtitulo_">Cobertura MEDIPLUS+</p>
        <img src="../../../../assets/images/health-fa.svg" alt="seguro vida">
        <p class="texto">Obtén atención médica de calidad con nuestro seguro médico premium.
        </p>

        <!--a mat-fab extended routerLink="/seguros/seguro-medico" color="primary">
        <mat-icon>medication</mat-icon>
        Ver Seguro
      </a-->
      </div>
    </div>
  </div>
</div>

<div>
  <p class="titulo_">Cobertura</p>

  <div class="contenedor_first">
    <img
      src="https://img.freepik.com/foto-gratis/doctor-feliz-sujetando-portapapeles-sus-pacientes_1098-2176.jpg?w=1060&t=st=1696843763~exp=1696844363~hmac=f0c1c8f0788f0ecf17325a4a42436fd187f28f822de6260964211f53cde4864b"
      alt="seguro medico" class="imagen">

    <div class="centrar">
      <p class="titulo_">Cobertura MEDI+</p>
      <p>¿Buscas una cobertura de salud esencial? Nuestro seguro médico básico te ofrece atención médica confiable a un
        precio accesible. Cuida de tu salud y la de tu familia con nosotros. ¡Asegura tu bienestar hoy!"</p>
      <button mat-fab extended color="primary">
        <mat-icon>medication</mat-icon>
        Contratar
      </button>
    </div>
  </div>

  <div class="contenedor_second">
    <div class="centrar">

      <p class="titulo_">Paquete Cobertura MEDIPLUS+</p>
      <p class="texto">¿Deseas una cobertura completa y beneficios exclusivos para tu salud? Nuestro seguro médico
        premium te proporciona atención médica de calidad y opciones adicionales. Prioriza tu salud y disfruta de la
        mejor protección. </p>

      <button mat-fab extended color="primary">
        <mat-icon>medication</mat-icon>
        Contratar
      </button>
    </div>
    <img src="../../../../assets/images/doctor-5.svg" alt="seguro auto" class="imagen_right">

  </div>

</div>